@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';
@use '/src/styles/constants/colors';

.radioLabel {
  position: relative;
  display: block;
  padding-left: 22px;
  font-size: 16px;
  font-weight: 500;
  color: colors.$WHITE;
  cursor: pointer;

  &:hover input ~ .checkmark {
    background-color: colors.$GRAYC;
  }

  input:checked ~ .checkmark {
    background-color: colors.$MAIN_COLOR;
  }

  input:checked ~ .checkmark::after {
    display: block;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    background-color: colors.$GRAYE;
    border-radius: 50%;

    &::after {
      @include position.absolute(4px auto auto 4px);
      display: none;
      width: 8px;
      height: 8px;
      content: '';
      background: colors.$WHITE;
      border-radius: 50%;
    }
  }
}
