@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/colors';
@use '/src/styles/mixins/position';

.container {
  width: 1200px;
  margin: 0 auto;
  color: colors.$WHITE;

  .titleWrap {
    margin-bottom: 30px;

    h2 {
      margin-bottom: 12px;
      font-size: 22px;
      font-weight: 600;

      span {
        margin-left: 5px;
        font-size: 16px;
      }
    }

    p {
      font-size: 14px;
      line-height: 20px;
      color: colors.$SUB_TEXT_COLOR;
    }
  }

  .marketTop {
    @include flexbox.flexbox(between, center);
    margin-bottom: 50px;

    > div {
      position: relative;
      width: 32%;
      height: 170px;
      padding: 15px 25px;
      background-color: #1e1e1e;
      border-radius: 6px;

      &:nth-child(2) {
        &::before {
          background-color: #fe9601;
        }
      }

      &:last-child {
        &::before {
          background-color: colors.$MINUS;
        }
      }

      &::before {
        @include position.absolute(0 auto auto 0);
        display: block;
        width: 8px;
        height: 100%;
        content: '';
        background-color: colors.$PLUS;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
      }

      .title {
        @include flexbox.flexbox(start, center);
        margin-bottom: 12px;

        h3 {
          margin-left: 10px;
          font-size: 14px;
        }

        img,
        svg {
          width: 24px;
        }
      }
    }

    .trendWrap {
      ul {
        margin-left: 10px;

        li {
          @include flexbox.flexbox(start, center);
          margin-bottom: 15px;

          span {
            margin-right: 15px;
            font-size: 12px;
            color: colors.$GRAYA9;
          }

          > div {
            @include flexbox.flexbox(between, center);
            width: 96%;

            dl {
              @include flexbox.flexbox(start, center);
            }

            p {
              font-size: 14px;
              color: colors.$GRAYA9;
            }
          }
        }
      }
    }

    .dominanceWrap {
      ul {
        margin-top: 20px;

        li {
          margin-bottom: 12px;
          font-size: 14px;
          @include flexbox.flexbox(between, center);

          dl {
            @include flexbox.flexbox(between, center);
            width: 120px;
          }

          p {
            &.plus {
              color: colors.$PLUS;
            }

            &.minus {
              color: colors.$MINUS;
            }
          }
        }
      }
    }

    .markeCapWrap {
      ul {
        margin-top: 20px;

        li {
          margin-bottom: 10px;

          dl {
            @include flexbox.flexbox(between, center);
          }
        }
      }
    }

    dl {
      margin-left: 10px;
      @include flexbox.flexbox(between, center);
      font-size: 14px;

      dt {
        letter-spacing: 0;

        img {
          width: 22px;
          margin-right: 10px;
          vertical-align: middle;
        }
      }

      dd {
        margin-left: 20px;
        color: colors.$SUB_TEXT_COLOR;
      }
    }
  }

  .marketTable {
    width: 100%;
    margin-bottom: 20px;
    border-top: 1px solid colors.$SUB_COLOR;

    tr {
      th {
        background: colors.$TABLE_THEAD_COLOR;

        &:first-child {
          padding: 0 28px 0 5px;
        }

        &:nth-child(2) {
          padding: 0 16px;
        }

        &:nth-child(3),
        &:nth-child(4) {
          text-align: right;
        }
      }

      td {
        &:nth-child(2) {
          padding: 0;
        }
      }

      th,
      td {
        &:first-child {
          text-align: right;
        }

        &:first-child,
        &:nth-child(2) {
          width: 3%;
        }

        &:nth-child(3) {
          width: 15%;
        }

        &:nth-child(4) {
          width: 7%;
        }

        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9),
        &:last-child {
          width: 12%;
          text-align: right;
        }
        height: 55px;
        padding: 0 15px;
        font-size: 14px;
        text-align: left;
        vertical-align: middle;
        border-bottom: 1px solid colors.$SUB_COLOR;
      }
    }
  }

  ol {
    @include flexbox.flexbox(center, center);

    li {
      button {
        padding: 10px;
        font-size: 14px;
        color: colors.$WHITE;

        &.active {
          color: colors.$MAIN_COLOR;
        }
      }
    }
  }
}
