@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/colors';
@use '/src/styles/mixins/position';
@use '/src/styles/mixins/animation';

.container {
  width: 1200px;
  margin: 0 auto;
  color: colors.$WHITE;

  .marketWrap {
    animation: smoothAppear 1.5s;
  }

  .titleWrap {
    margin-bottom: 30px;

    h2 {
      margin-bottom: 12px;
      font-size: 22px;
      font-weight: 600;

      span {
        margin-left: 5px;
        font-size: 16px;
      }
    }

    p {
      font-size: 14px;
      line-height: 20px;
      color: colors.$SUB_TEXT_COLOR;
    }
  }

  .marketTable {
    width: 100%;
    margin-bottom: 20px;
    border-top: 1px solid colors.$SUB_COLOR;

    tr {
      th {
        background: colors.$TABLE_THEAD_COLOR;

        &:first-child {
          padding: 0 28px 0 5px;
        }

        &:nth-child(2) {
          padding: 0 16px;
        }

        &:nth-child(3),
        &:nth-child(4) {
          text-align: right;
        }
      }

      td {
        &:nth-child(2) {
          padding: 0;
        }
      }

      th,
      td {
        &:first-child {
          text-align: right;
        }

        &:first-child,
        &:nth-child(2) {
          width: 3%;
        }

        &:nth-child(3) {
          width: 15%;
        }

        &:nth-child(4) {
          width: 7%;
        }

        &:nth-child(5),
        &:nth-child(6),
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9),
        &:last-child {
          width: 12%;
          text-align: right;
        }
        height: 55px;
        padding: 0 15px;
        font-size: 14px;
        text-align: left;
        vertical-align: middle;
        border-bottom: 1px solid colors.$SUB_COLOR;
      }
    }
  }

  ol {
    @include flexbox.flexbox(center, center);

    li {
      button {
        padding: 10px;
        font-size: 14px;
        color: colors.$WHITE;

        &.active {
          color: colors.$MAIN_COLOR;
        }
      }
    }
  }

  .loadingWrap {
    width: 100%;
    min-height: calc(100vh - 190px);
    @include flexbox.flexbox(center, center);

    img {
      width: 80px;
    }
  }
}
