@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/colors';
@use '/src/styles/mixins/position';

.marketTop {
  @include flexbox.flexbox(between, center);
  margin-bottom: 50px;

  > div {
    position: relative;
    width: 32%;
    height: 170px;
    padding: 15px 25px;
    background-color: #1e1e1e;
    border-radius: 6px;

    &:nth-child(2) {
      &::before {
        background-color: #fe9601;
      }
    }

    &:last-child {
      &::before {
        background-color: colors.$MINUS;
      }
    }

    &::before {
      @include position.absolute(0 auto auto 0);
      display: block;
      width: 8px;
      height: 100%;
      content: '';
      background-color: colors.$PLUS;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }

    .title {
      @include flexbox.flexbox(start, center);
      margin-bottom: 12px;

      h3 {
        margin-left: 10px;
        font-size: 14px;
      }

      img,
      svg {
        width: 24px;
      }
    }
  }

  .trendWrap {
    ul {
      margin-left: 10px;

      li {
        @include flexbox.flexbox(start, center);
        margin-bottom: 15px;

        span {
          margin-right: 15px;
          font-size: 12px;
          color: colors.$GRAYA9;
        }

        > div {
          @include flexbox.flexbox(between, center);
          width: 96%;

          dl {
            @include flexbox.flexbox(start, center);
          }

          p {
            font-size: 14px;
            color: colors.$GRAYA9;
          }
        }
      }
    }
  }

  .dominanceWrap {
    ul {
      margin-top: 20px;

      li {
        margin-bottom: 12px;
        font-size: 14px;
        @include flexbox.flexbox(between, center);

        dl {
          @include flexbox.flexbox(between, center);
          width: 120px;
        }

        p {
          &.plus {
            color: colors.$PLUS;
          }

          &.minus {
            color: colors.$MINUS;
          }
        }
      }
    }
  }

  .markeCapWrap {
    ul {
      margin-top: 20px;

      li {
        margin-bottom: 10px;

        dl {
          @include flexbox.flexbox(between, center);
        }
      }
    }
  }

  dl {
    margin-left: 10px;
    @include flexbox.flexbox(between, center);
    font-size: 14px;

    dt {
      letter-spacing: 0;

      img {
        width: 22px;
        margin-right: 10px;
        vertical-align: middle;
      }
    }

    dd {
      margin-left: 20px;
      color: colors.$SUB_TEXT_COLOR;
    }
  }
}
