@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';
@use '/src/styles/constants/colors';

.modalWrap {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 70%);
  transform: translate(-50%, -50%);
  @include flexbox.flexbox(center, center);
  @include position.fixed(50% auto auto 50%);

  .modalContainer {
    width: 360px;
    background-color: #202530;
    border-radius: 6px;

    .modalContents {
      padding: 40px 30px 10px;

      h3 {
        margin-bottom: 15px;
        font-size: 18px;
        color: colors.$WHITE;
      }

      .radioWrap {
        display: flex;
        justify-self: space-between;
        width: 100%;
        width: 80%;
        margin-bottom: 40px;
        @include flexbox.flexbox(between, center);

        .label {
          position: relative;
          display: block;
          padding-left: 25px;
          font-size: 14px;
          color: colors.$WHITE;
          cursor: pointer;

          &:hover input ~ .checkmark {
            background-color: colors.$GRAYC;
          }

          input:checked ~ .checkmark {
            background-color: colors.$MAIN_COLOR;
          }

          input:checked ~ .checkmark::after {
            display: block;
          }

          .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 16px;
            height: 16px;
            background-color: colors.$GRAYE;
            border-radius: 50%;

            &::after {
              @include position.absolute(4px auto auto 4px);
              display: none;
              width: 8px;
              height: 8px;
              content: '';
              background: colors.$WHITE;
              border-radius: 50%;
            }
          }
        }
      }

      .inputWrap {
        margin-bottom: 40px;

        input {
          width: 100%;
          padding: 0 0 10px;
          color: colors.$WHITE;
          border-bottom: 1px solid colors.$SUB_COLOR;
        }
      }

      .dateWrap {
        margin-bottom: 40px;
      }
    }

    .buttonWrap {
      margin-top: 30px;

      button {
        width: 100%;
        padding: 12px 20px;
        font-weight: 500;
        font-weight: 600;
        color: #202530;
        background-color: colors.$MAIN_COLOR;
        border-radius: 6px;

        &:last-child {
          color: #6f7888;
          background-color: transparent;
        }
      }
    }
  }
}
