@use '/src/styles/constants/colors';

table {
  tr {
    td {
      font-size: 14px;

      &.bookMark {
        svg {
          width: 20px;
          height: 20px;
          margin-right: 8px;
          fill: #cccccc;
        }
      }

      &.symbol {
        text-transform: uppercase;
      }

      &.plus {
        color: colors.$PLUS;
      }

      &.minus {
        color: colors.$MINUS;
      }

      dl {
        display: flex;
        align-items: center;

        dt {
          margin-right: 8px;

          img {
            width: 25px;
            height: 25px;
            vertical-align: middle;
          }
        }
      }
    }
  }
}
