@use '/src/styles/mixins/flexbox';
@use '/src/styles/constants/colors';

.signUpWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: calc(100vh - 190px);
  margin: 0 auto;

  > div {
    color: colors.$WHITE;

    &:first-child {
      p {
        margin: 0 20px 30px 0;
      }
    }

    &:not(:first-child) {
      input {
        width: 100%;
      }
    }

    label {
      display: block;
      padding: 10px 0 0;
      font-size: 14px;
    }

    input {
      width: calc(100% - 100px);
      padding: 10px 0;
      margin-bottom: 15px;
      color: colors.$WHITE;
      border-bottom: 1px solid colors.$WHITE;
    }

    button {
      width: 80px;
      padding: 7px 10px;
      color: colors.$WHITE;
      border: 1px solid colors.$WHITE;
      border-radius: 4px;
    }

    p {
      margin-bottom: 30px;

      &.success {
        color: #04c28e;
      }

      &.error {
        color: #ed3756;
      }
    }
  }

  .signUpBtn {
    padding: 7px 10px;
    margin: 0 auto;
    background-color: colors.$WHITE;
    border-radius: 4px;
  }
}
