@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';
@use '/src/styles/constants/colors';

.signUpWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: calc(100vh - 190px);
  margin: 0 auto;

  .signUpSuccessWrap {
    p {
      width: 100%;
      font-size: 20px;
      color: colors.$WHITE;
      @include flexbox.flexbox(center, center);
    }

    a {
      display: block;
      width: 200px;
      height: 40px;
      padding: 12px 10px;
      margin: 40px auto 0;
      font-weight: 600;
      color: colors.$SUB_COLOR;
      text-align: center;
      background-color: colors.$WHITE;
      border-radius: 4px;
    }
  }

  h2 {
    margin-bottom: 15px;
    font-size: 28px;
    color: colors.$WHITE;
  }

  p {
    margin-bottom: 30px;
    font-size: 14px;
    color: colors.$SUB_TEXT_COLOR;
    letter-spacing: 0.5px;

    a {
      color: colors.$MAIN_COLOR;
    }
  }

  .formGroup {
    color: colors.$WHITE;

    &:first-of-type {
      input {
        width: calc(100% - 70px);
      }
    }

    > button {
      color: colors.$MAIN_COLOR;
    }

    p {
      margin-bottom: 20px;
      font-size: 12px;

      &.success {
        color: colors.$PLUS;
      }

      &.error {
        color: colors.$MINUS;
      }
    }
  }

  .signBtn {
    width: 120px;
    height: 40px;
    padding: 7px 10px;
    margin: 40px auto 0;
    font-weight: 600;
    color: colors.$SUB_COLOR;
    background-color: colors.$WHITE;
    border-radius: 4px;
  }
}
