@use '/src/styles/constants/colors';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.container {
  width: 1200px;
  min-height: calc(100vh - 190px);
  margin: 0 auto;
  color: colors.$WHITE;

  .portFolioContents {
    .addBtn {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 15px;

      button {
        padding: 10px 12px;
        font-size: 14px;
        color: colors.$SUB_COLOR;
        background-color: colors.$MAIN_COLOR;
        border-radius: 6px;
      }
    }

    .portFolioTable {
      width: 100%;
      border-top: 1px solid colors.$SUB_COLOR;

      tr {
        th {
          background: colors.$TABLE_THEAD_COLOR;
        }
      }
    }

    .addBtnWrap {
      width: 100%;
      height: calc(100vh - 360px);
      @include flexbox.flexbox(center, center);

      button {
        padding: 10px 12px;
        font-size: 14px;
        color: colors.$SUB_COLOR;
        background-color: colors.$MAIN_COLOR;
        border-radius: 6px;
      }
    }
  }

  .goLogin {
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 190px);
    @include flexbox.flexbox(center, center);

    a {
      @include flexbox.flexbox(center, center);
      width: 120px;
      height: 40px;
      margin: 40px auto 0;
      font-size: 14px;
      font-weight: 600;
      color: colors.$SUB_COLOR;
      background-color: colors.$WHITE;
      border-radius: 4px;
    }
  }
}
